// global color tokens
$-clr-white: hsl(0 0% 100%);
$-clr-grey-100: hsl(0 0% 91%);
$-clr-grey-400: hsl(0 0% 42%);
$-clr-grey-700: hsl(0 0% 25%);

$-clr-primary-100: hsl(213 47% 96%);
$-clr-primary-200: hsl(218 39% 86%);
$-clr-primary-400: hsl(218 48% 39%);
$-clr-primary-700: hsl(218 36% 23%);

$-clr-accent-100: hsl(168 98% 81%);
$-clr-accent-200: hsl(168 96% 51%);
$-clr-accent-400: hsl(169 100% 41%);
$-clr-accent-700: hsl(168 80% 19%);

$-clr-yellow-300: hsl(36 100% 86%);
$-clr-yellow-400: hsl(36 80% 65%);
$-clr-yellow-500: hsl(36 77% 30%);

$-clr-pink-300: hsl(340 81% 84%);
$-clr-pink-400: hsl(340 68% 63%);
$-clr-pink-500: hsl(340 76% 27%);

$-clr-cyan-300: hsl(194 98% 81%);
$-clr-cyan-400: hsl(197 64% 53%);
$-clr-cyan-500: hsl(195 69% 27%);

$default: (
  "neutral": (
    "000": $-clr-white,
    "100": $-clr-grey-100,
    "400": $-clr-grey-400,
    "700": $-clr-grey-700,
  ),
  "primary": (
    "100": $-clr-primary-100,
    "200": $-clr-primary-200,
    "400": $-clr-primary-400,
    "700": $-clr-primary-700,
  ),
  "accent": (
    "100": $-clr-accent-100,
    "200": $-clr-accent-200,
    "400": $-clr-accent-400,
    "700": $-clr-accent-700,
  ),
  "yellow": (
    "300": $-clr-yellow-300,
    "400": $-clr-yellow-400,
    "500": $-clr-yellow-500,
  ),
  "pink": (
    "300": $-clr-pink-300,
    "400": $-clr-pink-400,
    "500": $-clr-pink-500,
  ),
  "cyan": (
    "300": $-clr-cyan-300,
    "400": $-clr-cyan-400,
    "500": $-clr-cyan-500,
  ),
);

// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);
$color-neutral-400: var(--neutral-400);
$color-neutral-700: var(--neutral-700);

$color-primary-100: var(--primary-100);
$color-primary-200: var(--primary-200);
$color-primary-400: var(--primary-400);
$color-primary-700: var(--primary-700);

$color-accent-100: var(--accent-100);
$color-accent-200: var(--accent-200);
$color-accent-400: var(--accent-400);
$color-accent-700: var(--accent-700);

$color-yellow-300: var(--yellow-300);
$color-yellow-400: var(--yellow-400);
$color-yellow-500: var(--yellow-500);

$color-pink-300: var(--pink-300);
$color-pink-400: var(--pink-400);
$color-pink-500: var(--pink-500);

$color-cyan-300: var(--cyan-300);
$color-cyan-400: var(--cyan-400);
$color-cyan-500: var(--cyan-500);
