@use "../abstracts/" as *;

.site-footer {
  background-color: $footer-background-color;
  color: $footer-text-color;

  a {
    color: $footer-link-color;
    text-decoration: $footer-link-text-decoration;
    font-family: $footer-link-font-family;
    letter-spacing: $letter-spacing-loose;

    &:is(:hover, :focus) {
      color: $footer-link-color-hover;
    }
  }

  nav {
    padding-bottom: $size-6;
  }
  .fine-print {
    padding-top: $size-6;
    padding-bottom: $size-13;
    border-top: 1px solid $color-neutral-100;
  }
}
